<h1>PODBUSCAR</h1>
<P>O PodBuscar é um Hub onde você encontra os melhores podcasts para você ouvir aquela conversa maneira sobre o seu tema favorito. <br>
    Busque por gênero, assunto ou Creator.
</P>

<div class="row">
<div class="col" style="width: 18rem;">
  <img src="img/psico.jpg" class="card-img-top" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <p class="card-text"> <br>O Psicologia na Prática é um podcast focado em saúde mental, autoconhecimento e desenvolvimento pessoal, criado e apresentado pela psicóloga Alana Anijar. O programa se destaca por traduzir conceitos da psicologia para uma linguagem acessível e aplicável ao dia a dia.</p>
  </div>
</div>
<div class="col" style="width: 18rem;">
  <img src="img/flowgames.jfif" class="card-img-top" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <p class="card-text"><br> O Flow Games é um dos principais podcasts e canais de conteúdo sobre games e cultura pop do Brasil. O projeto é focado em discutir as principais novidades da indústria dos videogames, lançamentos, análises de jogos e cobertura de eventos.</p>
  </div>
</div>
<div class="ccol" style="width: 18rem;">
  <img src="img/ciencia.jfif" class="card-img-top" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <p class="card-text"><br> O Ciência Sem Fim é um podcast e canal de divulgação científica do ecossistema do Flow, idealizado e apresentado por Sérgio Sacani (do portal Space Today). O programa tem como objetivo levar o conhecimento científico ao público de forma acessível, descontraída e sem jargões excessivamente técnicos.</p>
  </div>
</div>
<div class="col" style="width: 18rem;">
  <img src="img/podpah.jfif" class="card-img-top" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <p class="card-text"><br> O Podpah é um dos maiores e mais populares podcasts do Brasil, criado em 2020 pelos apresentadores Igor Cavalari (Igão) e Thiago Marques (Mítico). O programa se tornou um fenômeno da internet brasileira por seu estilo de conversa descontraído, autêntico e sem roteiro rígido.</p>
  </div>
</div>
<div class="col" style="width: 18rem;">
  <img src="img/nerdcast.jfif" class="card-img-top" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <p class="card-text"><br>O NerdCast é o podcast do portal Jovem Nerd, criado em 2006 por Alexandre Ottoni (o Jovem Nerd) e Azaghal. É considerado o pioneiro e um dos programas mais influentes da história da podosfera brasileira, abordando temas de cultura pop, ciência, história, cinema e jogos.</p>
  </div>
</div>
<div class="col" style="width: 18rem;">
  <img src="img/inteli.jfif" class="card-img-top" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <p class="card-text"><br> O Inteligência Ltda. (também chamado de Inteligência Limitada) é um popular podcast brasileiro apresentado, produzido e dirigido pelo comediante e quadrinista Rogério Vilela. </p>
  </div>
</div>
</div>